In [16]:
import numpy as np
import cv2
import os
import sqlite3

In [17]:
# Addding a new class
def make_class(name):
    path = "./classes/{}".format(name)
    try:
        os.mkdir(path)
    except OSError:
        print ("Creation of the class %s failed" % name)
    else:
        print ("Successfully created the Class %s" % name)

In [82]:
# setting up SQL lite
databse = sqlite3.connect("class_data.db")
databse.execute('''CREATE TABLE CLASSES
         (CLASS_NAME           TEXT    NOT NULL,
         NO_OF_OBJECTS            INT     NOT NULL);''')

OperationalError: table CLASSES already exists

In [80]:
databse.execute("INSERT INTO CLASSES (CLASS_NAME,NO_OF_OBJECTS) \
      VALUES ('Plastic', 10)");

IntegrityError: NOT NULL constraint failed: CLASSES.ID

In [64]:
databse.commit()

In [67]:
cursor = databse.execute("SELECT NO_OF_OBJECTS FROM CLASSES WHERE ID = 1")

In [ ]:
databse.execute("UPDATE CLASSES set NO_OF_OBJECTS = ? where ID = ?",(objs,_id))

In [69]:
for row in cursor:
    print(row[0])

In [73]:
cursor = databse.execute("SELECT NO_OF_OBJECTS FROM CLASSES WHERE ID = 1")
for row in cursor:
    objs = row[0]
objs =+ 1
databse.execute("UPDATE CLASSES set NO_OF_OBJECTS = ? where ID = ?",(objs,1))

In [77]:
cursor = databse.execute("SELECT NO_OF_OBJECTS FROM CLASSES WHERE ID = 1")
for row in cursor:
    print(row[0])

1

In [75]:
databse.commit()

In [79]:
def sql_fetch(con):
 
    cursorObj = con.cursor()
 
    cursorObj.execute('SELECT * FROM CLASSES')
 
    rows = cursorObj.fetchall()
 
    for row in rows:
 
        print(row)
 
sql_fetch(databse)

(1, 'Plastic', 1)
(2, 'Plastic', 10)

In [81]:
databse.execute('DROP TABLE CLASSES')

OperationalError: database table is locked

In [83]:
db = sqlite3.connect("data.db")
db.execute('''CREATE TABLE CLASSES
         (CLASS_NAME           TEXT    NOT NULL,
         NO_OF_OBJECTS            INT     NOT NULL);''')

In [103]:
# Addding a new class
def make_class(name):
    path = "./classes/{}".format(name)
    try:
        os.mkdir(path)
    except OSError:
        print ("Creation of the class %s failed" % name)
    else:
        print ("Successfully created the Class %s" % name)
        db.execute("INSERT INTO CLASSES (CLASS_NAME,NO_OF_OBJECTS) \
      VALUES (?, 0)",(name,));

def add_image(frame,CLASS_NAME):
    cursor = db.execute("SELECT NO_OF_OBJECTS FROM CLASSES WHERE CLASS_NAME = ?",(CLASS_NAME,))
    for row in cursor:
        objs = row[0]
        print(objs)
    objs =+ 1
    db.execute("UPDATE CLASSES set NO_OF_OBJECTS = ? where CLASS_NAME = ?",(objs,CLASS_NAME)) 
    db.commit()
    img_name = "{}_{}.png".format(CLASS_NAME,objs)
#     cv2.imwrite(img_name, frame)
    print(img_name)

In [91]:
make_class("test")

Successfully created the Class test

In [105]:
add_image(0,'test')

1
test_1.png